name: Deploy Blog Articles

on:
    push:
        branches:
            - main
        paths:
            - 'tools/blogbot/**'
    workflow_dispatch:

jobs:
    build-tools-blogbot:
        runs-on: macos-26
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                    fetch-depth: 0
                    persist-credentials: true

            - name: Build blogbot (release)
              working-directory: tools/blogbot
              run: |
                    set -e
                    swift build -c release
                    BIN_DIR="$(swift build -c release --show-bin-path)"
                    mkdir -p bin
                    cp "$BIN_DIR/1bbb" ./bin/1bbb
                    chmod +x ./bin/1bbb
                    ls -lh ./bin/1bbb
            - name: Upload blogbot binary artifact
              uses: actions/upload-artifact@v4
              with:
                  name: blogbot-binary
                  path: ./tools/blogbot/bin/1bbb
                  overwrite: true
    
    deploy-blog-articles:
        needs: build-tools-blogbot
        runs-on: macos-26
        steps:
            - name: Build Blog aritcles List
              uses: actions/download-artifact@v4
              with:
                  name: blogbot-binary
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Deploy blog articles list
              run: |
                    chmod +x ./1bbb
                    ./1bbb --articles-file articles.txt